.cta{background-color:#0f4077;width: max-content !important;left: 50%! important;transform: translate(-50%, 0)! important;border-radius: 50px;}.cta-text{
    height: 1em !important;
    padding: 0.6em 1em 0.75em 1em !important;
}.label{background-color: #f1681e;    width: max-content !important;    padding: 20px 30px 15px 30px;    border-radius: 15px;}